@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
 */
/* } */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* @media (prefers-color-scheme: dark) {
  :root {
  }
} */

a {
  text-decoration: none;
  color: inherit;
}

@layer utilities {
  /* .text-balance { */
    /* text-wrap: balance; */
  /* } */
}

@layer components {
	.form-input {
		@apply p-[10px] rounded-md text-secondary bg-dark border-none outline-none;
	}

  .btn-min-width {
    min-width: 100px;
  }
}