@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--dark: #0d0c22;
	--darkSoft: #2d2b42;
	--light: white;
	--lightSoft: #e5e5e5;
	--customBlue: #3673fd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* @media (prefers-color-scheme: dark) {
  :root {
  }
} */

body {
  background-color: var(--dark);
  color: var(--light);
}

a {
  text-decoration: none;
  color: inherit;
}

@layer utilities {
  /* .text-balance { */
    /* text-wrap: balance; */
  /* } */
}

@layer components {
  .form-input {
    @apply p-[10px] rounded-md text-light bg-dark border-none outline-none;
  }

  .blue-button {
	@apply p-5 min-w-[120px] cursor-pointer border-none rounded-md bg-customBlue text-light;
  }

  .gray-button {
    @apply p-5 min-w-[120px] cursor-pointer border-none rounded-md bg-light text-dark
  }
}