@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
 */
/* } */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Scrollbar */
::-webkit-scrollbar {
	width: 0.7em;
}

::-webkit-scrollbar-track {
	background: #0d0c22;
}
 
::-webkit-scrollbar-thumb {
	background: #3673fd ;
	border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
	background: #2356cb;
}

/* Toasts (Notifications) */
.Toastify__toast.Toastify__toast-theme--dark {
	background-color: #2d2b42;
}

a {
  text-decoration: none;
  color: inherit;
}

@layer utilities {
  /* .text-balance { */
    /* text-wrap: balance; */
  /* } */
}

@layer components {
    .form-input {
        @apply p-[10px] rounded-md text-secondary bg-dark border-none outline-none;
    }

    .btn-min-width {
      	min-width: 100px;
    }

	p {
		@apply md:text-lg;
	}

    .small-title {
      	@apply text-2xl uppercase text-center;
    }

	.large-title {
		@apply text-3xl lg:text-4xl xl:text-6xl text-center font-semibold;
	}

	.very-large-title {
		@apply text-5xl sm:text-5xl md:text-6xl lg:text-8xl font-semibold;
	}

}